@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color:#2d71a6;
}

/* ---- ----- ----- Inicio do Header ---- ----- ----- */
header{
    background-color: black;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
	z-index: 1000;
	max-height: 170px;
}

.logo img {
    width: 100%;
    height: auto;
    z-index: 700;
}

.navigation{
	display: flex;
}

.navigation li{
    list-style: none;
    margin: 0 10px;
}

.navigation li a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.search .fa-search{
    color: #fff;
}
/* ---- ----- ----- Fim do Header ---- ---- ----*/

/* ---- ----- ----- Conteudo Titulos e Controles ----- ----- ----- */
.container-titulo-controle {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.container-titulo-controle h3 {
	padding-left: 50px;
	color: #fff;
	font-size: 30px;
}

.container-titulo-controle .indicacoes button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.container-titulo-controle .indicacoes button:hover,
.container-titulo-controle .indicacoes button.activo {
	background: red;
}


/* ---- ----- ----- Conteudo Principal e Flexas ----- ----- ----- */
.produtos-recomendados {
    margin-top: 200px;
	margin-bottom: 100px;
}

.produtos-recomendados .conteudo-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.produtos-recomendados .conteudo-principal .flexa-esquerda,
.produtos-recomendados .conteudo-principal .flexa-direita {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.produtos-recomendados .conteudo-principal .flexa-esquerda:hover,
.produtos-recomendados .conteudo-principal .flexa-direita:hover {
	background: rgba(0,0,0, .9);
}

.produtos-recomendados .conteudo-principal .flexa-esquerda {
	left: 0;
}

.produtos-recomendados .conteudo-principal .flexa-direita {
	right: 0;
}

/* ---- ----- ----- Carrossel ----- ----- ----- */
.produtos-recomendados .conteudo-carrossel {
	width: 97.35%;
	padding:10px 50px;
	overflow: hidden;
	scroll-behavior: smooth;
}

.produtos-recomendados .conteudo-carrossel .carrossel {
	display: flex;
	flex-wrap: nowrap;
}

.produtos-recomendados .conteudo-carrossel .carrossel .produto {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
	background-color: rgba(39, 93, 138, 0.9);
	padding: 10px 10px 10px;
}

.produtos-recomendados .conteudo-carrossel .carrossel .produto.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.produtos-recomendados .conteudo-carrossel .carrossel .produto img {
	width: 100%;
	vertical-align: top;
}

.produto .texto-produto {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	color: seashell;
}
